// variaveis
$fonte:Arial, Helvetica, sans-serif;
$marrom: rgb(153, 84, 24);
$marromEscuro: rgb(66, 42, 22);
$marromClaro:rgb(196, 134, 83);
$marromClarinho:rgb(246, 229, 213);
$branco: rgb(255, 255, 255);
$pretoClaro:rgb(71, 64, 64);
$estiloBorda: 8px dotted $pretoClaro;
$tamanhoFontePadrao: 18px;
$tamanhoFonteResponsivo:16px;
$paddingTextoResponsivoPadrao: 3%;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    color: $pretoClaro !important;
    font-family: $fonte;
    letter-spacing: 2px;
}

