
#tituloLogo{
    background-color: $marrom;
    width: 100%;
    color: $branco;
    @include alinhamentoFlexRow();
}

.linkTopo{
    @include estilizaLinks();
    margin: 2%;
    &:hover{
        transition: all 0.5s;
        background-color: $marromClaro;
        padding: 1%;
        
    }
}

#acessos{
    width: 60%;
    @include alinhamentoFlexRow();
    flex-wrap: wrap;
}

#logoTitulo{
    border-radius: 50%;
}

#titulo{
    width: 40%;
    font-size: 110%;
    padding-left: 0.8% ;
    margin-top: 1%;
}
#menuOculto{
    @include alinhamentoFlexRow;
    background-color: $marromEscuro;
    width: 100%;
    flex-wrap: wrap;
    display: none;
    .linkTopo{
        width: 45%;
        text-align: center;
    }
}

#hamburger{
display: none;
border: dashed 2px $marromEscuro;
}

// responsividade

@media screen and (max-width: 700px) {
    #acessos{
        display: none;
    }
    #titulo{
        font-size: smaller;
        width: 85%;
        padding: 2%;
        margin-left: 1%;
    }
    #hamburger{
        margin-right: 3%;
        display: inline-block;
    }
}