@import './estilosGlobais';
@import './funcoes';
@import './header';
@import './footer';

// deixando o link da página com uma cor específica 
#dados{
    @include linkAtivo();
}
body{
    background-color: $marromClarinho;
    color: $pretoClaro;
}
h2{
    text-align: center;
    padding: 5%;
}
main{
    text-align: justify;
    margin: 3%;
}

.videosReferencia{
    @include alinhamentoFlexRow();
    flex-wrap: wrap;
    iframe{
        width: 48%;
    }

}
.videosReferenciaColumn{
    @include alinhamentoFlexColumn();
}
.descricao{
    text-align: center;
    font-size: small;
}
#grafico{
    width: 100%;
}
iframe{
    margin-bottom: 3%;
}

@media screen and (max-width: 700px){
    iframe{
        width: 100%;
    }
    .videosReferencia{
        @include alinhamentoFlexColumn();
        iframe{
            width: 100%;
            margin-bottom: 3%;
        }
       
    }
}