@import './estilosGlobais';
@import './funcoes';
@import './header';
@import './footer';

// deixando o link da página com uma cor específica 
#entrevistas{
    @include linkAtivo();
}
.entrevista{
    @include alinhamentoFlexRow();
    padding: 4%;
    flex-wrap: wrap;
    width: 100%;
    border-top: dotted 8px $pretoClaro;
    
}
.entrevistaDescricao{
    color: $pretoClaro;
    width: 45%;
    text-align: justify;
}
h1{
    text-align: center;
    padding: 4%;
}
#mainOculta{
    @include alinhamentoFlexColumn();
    flex-wrap:wrap;
    display: none;

}
.botao{
    background-color: $marromEscuro !important;
    border: none !important;
}

@media screen and (max-width: 700px) {
    main{
        display: none;
    }
    #mainOculta{
        display: flex;
    }
}
