@import './estilosGlobais';
@import './funcoes';
@import './header';
@import './footer';

// deixando o link da página com uma cor específica 

#inicio{
    @include linkAtivo();
}

h2{
    text-align: center;
    padding: 4%;
}

main{
    @include alinhamentoFlexRow();
    flex-wrap: wrap;
    padding: 3%;
    border-bottom: $estiloBorda;
    #introducao{
        font-size: $tamanhoFontePadrao;
        text-align: justify;
        width: 50%;
    }
    #iframe{
        width: 45%;
    }
}

section{

    #subtitulo{
        padding-bottom: 1%;
        text-align: center;
    }
}

#livraria{
    @include alinhamentoFlexRow();
    flex-wrap: wrap;
    padding: 4%;
    .btn{
        background-color: $marromEscuro;
        border: none;
    }
}

// responsividade

@media screen and (max-width: 700px) {

    main{
        flex-direction: column;
        padding-bottom: 50px;

        #introducao{
            width: 97%;
            font-size: $tamanhoFonteResponsivo;
            margin-bottom: 30px;
        }
        #iframe{
            width: 100%;
        }
    }
    #livraria{
        @include alinhamentoFlexColumn();
        .card{
            margin-bottom:30px;
        }
    }
    
}